@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    align-items: center;
    font-size: 1rem;
    padding: 1.3rem;
}

.footerHeader {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.gameOfThronesLogo {
    width: 9rem;
}

.scores {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.score {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

@media (max-width: 1080px) {
    .footerHeader {
        font-size: 2rem;
    }
    
    .header {
        padding-left: 2rem;
    }

    .score {
        font-size: 1.5rem;
    }
}

@media (max-width: 734px){
    .header{
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
        align-items: center;
    }

    .footerHeader {
        padding-left: 2.2rem;
    }
}