@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    column-gap: -10rem;
    align-items: center;
    font-size: 1rem;
    padding-right: 4rem;
    padding-left: 8rem;
}

.footerHeader {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.gameOfThronesLogo {
    width: 8rem;
}

.scores {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.score {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}